@model WA_CRUD_Tienda.Models.Articulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionArticulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioArticulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagenArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagenArticulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockArticulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockArticulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticuloOculto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticuloOculto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodigoArticulo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
